{% assign category = include.category | default: 'default' %}

{% case category %}
  {% when 'book' %}
    {% assign category_icon = '<i class="fa-solid fa-book category-icon book-icon"></i>' %}
  {% when 'game' %}
    {% assign category_icon = '<i class="fa-solid fa-gamepad category-icon game-icon"></i>' %}
  {% when 'film' %}
    {% assign category_icon = '<i class="fa-solid fa-film category-icon film-icon"></i>' %}
  {% when 'series' %}
    {% assign category_icon = '<i class="fa-solid fa-tv category-icon series-icon"></i>' %}
  {% else %}
    {% assign category_icon = '<i class="fa-solid fa-file category-icon default-icon"></i>' %}
{% endcase %}

{{ category_icon }}
