<div class="game-info">
  <h2>
    {{ site.data.translations.game_info.page_title }}
  </h2>
  <ul>
    <li>
      <strong>{{ site.data.translations.game_info.title }}</strong> : {{ page.work_title }}
    </li>
    <li>
      <strong>{{ site.data.translations.game_info.developer }}</strong> : {{ page.work_developer }}
    <li>
        <strong>{{ site.data.translations.game_info.publisher }}</strong> : {{ page.work_publisher }}
    </li>
    <li>
      <strong>{{ site.data.translations.game_info.platform }}</strong> : {{ page.work_platform }}
    </li>
    <li>
      <strong>{{ site.data.translations.game_info.release_date }}</strong> : {{ page.work_release_date }}
    </li>
    <li>
      <strong>{{ site.data.translations.game_info.genre }}</strong> : {{ page.genre }}
    </li>
    <li>{% include rating.html %}</li>
  </ul>
  <h2>{{ site.data.translations.common.status }}</h2>
  <ul>
    <li>
      <strong>{{ site.data.translations.game_info.ownership_status }}</strong> :
      {{ site.data.translations.ownership_status[page.ownership_status] }}
    </li>
    <li>
      <strong>{{ site.data.translations.game_info.ownership_format }}</strong> :
      {{ site.data.translations.ownership_format[page.ownership_format] }}
    </li>
    <li>
      <strong>{{ site.data.translations.game_info.progress_status }}</strong> :
      {{ site.data.translations.status[page.progress_status] }}
      {% include progress_icon.html progress_status=page.progress_status %}
    </li>
    <li>
      <strong>{{ site.data.translations.game_info.start_date }}</strong> : {{ page.start_date }}
    </li>
    <li>
      <strong>{{ site.data.translations.game_info.end_date }}</strong> : {{ page.end_date }}
    </li>
    {% if page.playtime %}
      <li>
        <strong>{{ site.data.translations.game_info.playtime }}</strong> : {{ page.playtime }}
      </li>
    {% endif %}
  </ul>
</div>
