{% assign ownership_status = include.ownership_status | default: '' %}

{% case ownership_status %}
  {% when 'owned' %}
    {% assign ownership_status = '<i class="fa-solid fa-check-circle owned-icon"></i>' %}
  {% when 'not_owned' %}
    {% assign ownership_status = '<i class="fa-solid fa-times-circle not-owned-icon"></i>' %}
  {% when 'partially_owned' %}
    {% assign ownership_status = '<i class="fa-solid fa-spinner partially-owned-icon"></i>' %}
  {% else %}
    {% assign ownership_status = '<i class="fa-solid fa-circle-question default-icon"></i>' %}
{% endcase %}

{{ ownership_status }}
