{% assign progress_status = include.progress_status | default: 'other' %}

{% case progress_status %}
  {% when 'completed' %}
    {% assign progress_icon = '<i class="fa-solid fa-check-circle progress-icon completed-icon"></i>' %}
  {% when 'in_progress' %}
    {% assign progress_icon = '<i class="fa-solid fa-hourglass-half progress-icon in-progress-icon"></i>' %}
  {% when 'abandoned' %}
    {% assign progress_icon = '<i class="fa-solid fa-ban progress-icon abandoned-icon"></i>' %}
  {% when 'planned' %}
    {% assign progress_icon = '<i class="fa-solid fa-calendar-alt progress-icon planned-icon"></i>' %}
  {% else %}
    {% assign progress_icon = '<i class="fa-solid fa-gear progress-icon other-icon"></i>' %}
{% endcase %}

{{ progress_icon }}
