---
layout: default
---
<section class="posts">
  <ul>
    {% if page.category %}
      {% assign filtered_posts = site.posts
        | where_exp: 'post', 'post.categories contains page.category'
        | sort: 'date'
        | reverse
      %}
    {% else %}
      {% assign filtered_posts = site.posts %}
    {% endif %}
    {% for post in filtered_posts %}
      <li class="post-item">
        <a href="{{ post.url }}">
          {% include category-emoji.html %}
          {{ post.title }}
        </a>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%d-%m-%Y' }}</time>
      </li>
    {% endfor %}
    Nombre de billets :
    {{ filtered_posts.size }}
  </ul>
</section>
