---
layout: default
---
<section class="posts">
  <ul>
    {% if page.category %}
      {% assign filtered_posts = site.posts | where_exp: 'post', 'post.categories contains page.category' %}
    {% else %}
      {% assign filtered_posts = site.posts %}
    {% endif %}

    {% assign filtered_posts = filtered_posts | sort: 'date' | reverse %}

    {% if filtered_posts.size > 0 %}
      {% for post in filtered_posts %}
        <li class="post-item">
          <a href="{{ post.url | relative_url }}">
            <div class="posts-list-container">
              <div class="posts-list-icons">
                <div class="category-icon">
                  {% include category_icon.html category=post.category %}
                </div>
                <div class="progress-icon">
                  {% include progress_icon.html progress_status=post.progress_status %}
                </div>
              </div>
              <div class="post-title">
                {% if post.category == 'game' %}
                  [{{ post.work_platform }}]
                {% endif %}
                {{ post.title }}
              </div>
            </div>
          </a>
          <time datetime="{{ post.date | date_to_xmlschema }}">
            {{- post.date | date: '%d/%m/%Y' -}}
          </time>
        </li>
      {% endfor %}
    {% else %}
      <li>
        <i class="fa-solid fa-exclamation-circle no-posts-icon"></i>
        <span>Aucune article trouvé dans cette catégorie</span>
      </li>
    {% endif %}
  </ul>
</section>
