---
layout: default
---
<section class="post">
  <h2 id="page-title">
    {% include category_icon.html category=page.category %}
    {{ page.title }}
  </h2>

  <span class="meta"
    >Créé le <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%d/%m/%Y' }} </time> &middot;
    dernière mise à jour le
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
      {{- page.last_modified_at | date: '%d/%m/%Y à %H:%M' }}
    </time>
  </span>

  {{ content }}
</section>
